body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, h3, h4, h5, h6, nav  {
  font-family: 'Bebas Neue';
  margin-bottom: 0;
}

p, li, form, q {
  font-family: "Montserrat";
}

@media screen and (max-width: 650px) {
  p, li, form, q {
  font-size: 0.85em;
  }
}


a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}
